{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>JSON Data</h1>
            <p class="lead">
               <textarea style="width: 100%;  min-height: 500px;">{{ arg1|tojson|safe }}</textarea>
            </p>
            
        </div>
    </div>
</div>
{% endblock body %}
